.home_slider {
  margin-top: 43px;
  max-height: 464px;
  .swiper-wrapper {
    .swiper-slide {
      padding: 0px 0px 110px 80px;
      background: #f3f4f6;
      border-radius: 12px;
      max-width: 1224px;
      .home_slider_item {
        .left_side {
          width: 56%;
          padding-top: 110px;
          .head_text {
            h1 {
              font-weight: 700;
              font-size: 34px;
              line-height: 44px;
            }
          }
          .content {
            margin: 24px 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #4b5563;
          }
          .details_btn {
            button {
              background: #145cf0;
              padding: 16px 32px;
              border-radius: 8px;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              border: 1px solid transparent;
              color: white;
            }
          }
        }
        .right_side {
          width: 44%;
          padding-top: 50px;
          .slide_img {
            width: 400px;
            img {
              width: 100%;
              height: 100%;
              object-fit: none !important;
            }
          }
        }
      }
    }
  }
  
  .swiper-pagination {
    bottom: 10px;
    left: 0;
    width: 100%;
    .swiper-pagination-bullet {
      width: 12px ;
      height: 12px ;
      background: #9ca3af ;
      border-radius: 8px;
      transition: 0.3s;
      margin: 0 4px;
      cursor: pointer;
    }
    .swiper-pagination-bullet-active {
      width: 32px;
      background: #145cf0;
    }
  }
}

@media (max-width: 992px) {
  .home_slider {
    h1 {
      font-size: 23px !important;
    }
    p {
      font-size: 13px !important;
    }
  }
}
@media (max-width: 768px) {
  .swiper-wrapper {
    .left_side{
      width: 100% !important; 
      padding-top: 72px !important;
      // padding: 30px  !important;
    }
    .right_side {
      display: none !important;
    }
  }
  .swiper-slide {
    padding: 0px 20px 30px 20px !important;
  }
  .swiper-pagination {
    display: none;
  }
}
